{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password Complete{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <h3>Welcome Arafat</h3>
        <div class="col-sm-6 offset-sm-3">
            <h4>Reset Password Complete !</h4>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Change Successfully !!</h3>
            <div><iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
    </div>
</div>
{% endblock main-content %}